{% extends "pages/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Thêm đề thi mới{% endblock  %}
{% block content %}
<link rel="shortcut icon" href="{% static 'favicon/favicon.png' %}"/>
<style>
    .container{
        width: 50%;
    }
</style>
<div class="container">
    <div class="row">
        <h1 style="margin: 60px 0 30px; text-align: center; width: 100%;">Thêm đề thi</h1>
    </div>
        <form action="{% url 'add_exam' %}" method="POST" id="add-btn">
            {% csrf_token %}
            <!-- {% for field in add_exam %} sai đoạn duyệt này -->
            <!-- <label for="name">Name: </label>
            <input id="name" type="text" name="exam_name" maxlength="100" value="{{ field.Name }}" required> -->
                Name:{{ add_exam.Name }}
                Type : {{ add_exam.Type }}
                <!-- Name: {{ form.Name }} -->

            <!-- {% endfor %}                            sai đoạn duyệt này -->
            <!-- <div class="row">
                <div class="col-md-3">Loại đề thi: </div>
                <div class="form-check col-md-3">
                    <input class="form-check-input" type="checkbox" value="Lop 10" id="lop10" name="exam_type">
                    <label class="form-check-label" for="lop10">Lớp 10</label>
                </div>
                <div class="form-check col-md-3">
                    <input class="form-check-input" type="checkbox" value="THPT" id="thpt" name="exam_type">
                    <label class="form-check-label" for="thpt">THPT</label>
                </div>
            </div> -->
            <input type="submit" value ="Save" class="btn btn-primary" style="margin: 15px 0 60px;"> 
        </form>

    
</div>

{% endblock %}
<!-- <script>
$("#add-btn").on('submit', function(event) {
      alert("Successfully added! ");
})
</script> -->