{% extends "pages/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Thêm đề thi mới{% endblock  %}
{% block content %}
<link rel="shortcut icon" href="{% static 'favicon/favicon.png' %}"/>
<style>
    .container{
        width: 50%;
    }
</style>
<div class="container">
    <div class="row">
        <h1 style="margin: 60px 0 30px; text-align: center; width: 100%;">Thêm đề thi</h1>
    </div>
        <center><form action="{% url 'add_exam' %}" method="POST" id="add-btn">
            {% csrf_token %}
            <strong>Name:</strong> {{ add_exam.Name }}
            <strong>Type:</strong> {{ add_exam.Type }}
            <br>
            <input type="submit" value ="Save" class="btn btn-dark" style="margin: 15px 0 60px;"> 
        </form></center>

    
</div>

{% endblock %}
<!-- <script>
$("#add-btn").on('submit', function(event) {
      alert("Successfully added! ");
})
</script> -->