{% extends "pages/base.html" %} {% load static %} {% block title %}Chọn đề thi{% endblock %} {% block content %}

<form method="POST" action="/update/{{question.id }}">
    <input type="hidden" name="id" id="id" value="{{question.id}}" /> {% csrf_token %}
    <!-- Tạo csrf_token(tránh tấn công xss) khi xử lý form trong Laravel -->
    <div class="form-group">
        <label><b>Question {{question.id}}</b></label>
        <input type="text" class="form-control" name="Question" placeholder="Question" value="{{question.Question}} " required>
    </div><br>
    <div class="form-group">
        <label><b>A</b></label>
        <input type="text" class="form-control" name="A" placeholder="A" value="{{question.A}} " required>
    </div><br>
    <div class="form-group">
        <label><b>B</b></label>
        <input type="text" class="form-control" name="B" placeholder="B" value="{{question.B}} " required>
    </div><br>
    <div class="form-group">
        <label><b>C</b></label>
        <input type="text" class="form-control" name="C" placeholder="C" value="{{question.C}}" required>
    </div><br>
    <div class="form-group">
        <label><b>D</b></label>
        <input type="text" class="form-control" name="D" placeholder="D" value="{{question.D}} " required>
    </div>
    <div class="form-group">
        <label><b>Answer</b></label>
        <input type="text" class="form-control" name="Answer" placeholder="Answer" value="{{question.Answer}} " required>
    </div>
    <div class="form-footer">
        <button type="">
        <a href=""></a>Edit</button>
    </div>
</form>
{% endblock %}