{% extends "pages/base.html" %} {% load static %} {% block title %}Chọn đề thi{% endblock %} {% block content %}
<!-- 
<form method="POST" action="/update/{{question.id }}">
    <input type="hidden" name="id" id="id" value="{{question.id}}" /> {% csrf_token %} -->
    <!-- Tạo csrf_token(tránh tấn công xss) khi xử lý form trong Laravel -->
    <div class="container">
        <!-- <div class="row">
            <h2>Đề số {{forloop.counter}}:</h2>
        </div> -->
        {% for question in lop10 %}
            <div class="row">
                Question {{forloop.counter}}: {{question.Question}}
            </div>
            <div class="row">
                {{question.A}}
            </div>
            <div class="row">
                {{question.B}}
            </div>
            <div class="row">
                {{question.C}}
            </div>
            <div class="row">
                {{question.D}}
            </div><br><br>
        {% endfor %}

        {% for question in thptqg %}
        {% if forloop.counter < 1 %}
            Đề thi chưa có dữ liệu. Thêm câu hỏi <a href="{% url 'add_question_thptqg' question.Exam_id %}">tại đây.</a>
        {% endif %}
        <div class="row">
            <!-- <h2>Đề số {{question.id}}:</h2> -->
        </div>
        <div class="row">
            Question {{forloop.counter}}: {{question.Question}}
        </div>
        <div class="row">
            {{question.A}}
        </div>
        <div class="row">
            {{question.B}}
        </div>
        <div class="row">
            {{question.C}}
        </div>
        <div class="row">
            {{question.D}}
        </div><br><br>
    {% endfor %}
    </div>
    
<!-- </form> -->
{% endblock %}