{% extends "pages/base.html" %} {% load static %} {% block title %}Chọn đề thi{% endblock %} {% block content %}

    <div class="container">
    {% if user.is_authenicated %}
        {% if user.is_superuser %}
            {% for question in lop10 %}
                <div class="row">
                    Question {{forloop.counter}}: {{question.Question}}
                </div>
                <div class="row">
                    {{question.A}}
                </div>
                <div class="row">
                    {{question.B}}
                </div>
                <div class="row">
                    {{question.C}}
                </div>
                <div class="row">
                    {{question.D}}
                </div><br><br>
            {% endfor %}

            {% for question in thptqg %}
                <!-- {% if forloop.counter < 1 %}
                    <p>Đề thi chưa có dữ liệu. Thêm câu hỏi <a href="{% url 'add_question_thptqg' question.Exam_id %}">tại đây.</a></p>
                {% endif %} -->
                <div class="row">
                    <!-- <h2>Đề số {{question.id}}:</h2> -->
                </div>
                <div class="row">
                    Question {{forloop.counter}}: {{question.Question}}
                </div>
                <div class="row">
                    {{question.A}}
                </div>
                <div class="row">
                    {{question.B}}
                </div>
                <div class="row">
                    {{question.C}}
                </div>
                <div class="row">
                    {{question.D}}
                </div><br><br>
            {% endfor %}
        {% else %}

        {% endif %}
    {% endif %}
    </div>
    
<!-- </form> -->
{% endblock %}