{% extends "pages/base.html" %} {% load static %} {% block title %}Vao thi{% endblock %} {% block content %}

<div class="container">
    <h2>Đề thi số {{Exam_id}}</h2>
    {% if user.is_authenticated %}
        <form action="#" method="POST">
            {% csrf_token %}
            {% if thptqg %}
                {% for question in thptqg %}
                    <div class="otpradio">
                        <div class="row">
                            Question {{forloop.counter}}: {{question.Question}}
                        </div>
                        <div class="row">
                            <input type="radio" name="{{question.id}}" value="A" /> &nbsp;A. {{question.A}}
                        </div>
                        <div class="row">
                            <input type="radio" name="{{question.id}}" value="B" />&nbsp;B. {{question.B}}
                        </div>
                        <div class="row">
                            <input type="radio" name="{{question.id}}" value="C" />&nbsp;C. {{question.C}}
                        </div>
                        <div class="row">
                            <input type="radio" name="{{question.id}}" value="D" />&nbsp;D. {{question.D}}
                        </div><br>
                    </div>   
                {% endfor %} 
                <button class="btn btn-primary" type="submit"><a href="{% url 'ket-qua-thi-thpt' Exam_id=Exam_id %}">Nộp bài</a></button><br><br>
            {% endif %}
        </form>
    {% endif %}
</div>

{% endblock %}