.card{
    border: none;
}
.table-striped tbody tr:nth-child(odd) th, 
.table-striped tbody tr:nth-child(odd) td {
   background-color: rgb(255, 236, 202);
 }
 .table-striped tbody tr:nth-child(even) th, 
.table-striped tbody tr:nth-child(even) td {
   background-color: rgb(255, 221, 162);
 }