h1{
    margin: 30px 0;
}
.intro{
    margin:60px 0px;
}
.intro p{
    text-align: justify;
}
h5{
    margin: 30px 0 15px;
}
.rank a h4{
    margin:30px 0;
    text-decoration: none;
    display: inline-block;
    text-align: right;
    width:100%; 
}
